<h3>
    <img src="../../assets/school_2602412.png" alt="Icono de escuela" class="icono-escuela">
    Educacion
</h3>

<table border="0">

   <ul *ngFor="let work  of education">
    <li>
        <tr>
            <td> 
                <p id="font"> Institucicion educativa : </p>
                {{ work.Universidad }}  </td> <td> </td>
            <tr>
                
            <td> 
               <p id="font"> Fecha : </p>
                {{ work.fecha }}</td>
            </tr>
            <tr>
                <td>
                     <p id="font"> Carrera : </p>
                      {{ work.carrera }} </td> <td> </td>
                </tr>
                <tr>
                <td>
                    <p id="font"> Semestre : </p>
                    {{ work.Semestre }} </td> <td> </td>
                </tr>
           </li>
        </ul>
</table>
