<section class="header">
    <div id="about_me">
      <p id="name">Giovanni Jair</p>
      <p id="lastname"> Cabrera Garcia</p>
      <p id="profession">Ingeniero de software</p>
      <p id="objetive">
        Crear software de calidad es mi lema
      </p>
    </div>
    <div id="profile_picture">
      <img src="../../assets/mc_clovin.jpg" alt="profile picture" id="profile_img">
    </div>
    <div id="my_data">
      <p id="email">
          laramippo&#64;gmail.com
          <img src="../../assets/antivirus_1358018.png" alt="email icon" class="icon">
      </p>
      <p id="phone">
          +1 425 981 7240
          <img src="../../assets/conversation_1358039.png" alt="phone icon" class="icon">
      </p>
      <p id="address">
          Acultzingo, Veracruz
          <img src="../../assets/location_535239.png" alt="address icon" class="icon">
      </p>
      <p id="github">
          GioJCG
          <img src="../../assets/github_1322104.png" alt="github icon" class="icon">
      </p>
    </div>
  </section>