<div class="interest-container">
<h3>
    <img src="../../assets/face_16461110.png" alt="Icono de intereses" class="icono-interes">
    Intereses
</h3>
</div>

<div *ngFor="let interest of interest" class="inter-container">
    <div class="tag-conteiner">
    <span class="tag">{{ interest.interes1 }}</span>
    <span class="tag">{{ interest.interes2 }}</span>
    <span class="tag">{{ interest.interes3 }}</span>
    <span class="tag">{{ interest.interes4 }}</span> 
    <span class="tag">{{ interest.interes5 }}</span>
    <span class="tag">{{ interest.interes6 }}</span>
    <span class="tag">{{ interest.interes7 }}</span>
    </div>
</div>
